*{
	margin: 0;
	padding: 0;
	
}
.navbar{

border: none;
background-color: black;
color:teal;
}
body{
	background-color:lightseagreen;
	color:black;
}
.glyphicon{
	font-size: 30px;
	color:coral; 
}

.center{
	width: 90%;
	background-color:lightgreen;

}
.container
{
	background-color:lightgreen;
}
.text-center{
	font-size: 30px;
}

h2{
	text-align: center;
}
#myNavbar ul li a {
	color:coral;
}
.navbar-brand{
font-size: 30px;	
}